//Mixins
@mixin banner {
    width: 100%;
    position: relative;
    color: white;
    .banner-content {
        position: absolute;
        top: 50px;
        width: 100%;
    }
    img {
        width: 100%;
    }
    span {
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title {
        font-weight: normal;
        margin-bottom: 30px;
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}