// Variables 
$deepBlue: #032f3e;
$offWhite: #f8f9fb;
$sectionHeading: 24px;
$bannerHeading: 46px;
//Mixins
@mixin banner {
    width: 100%;
    position: relative;
    color: white;
    .banner-content {
        position: absolute;
        top: 50px;
        width: 100%;
    }
    img {
        width: 100%;
    }
    span {
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title {
        font-weight: normal;
        margin-bottom: 30px;
    }
}

#main-nav {
    background: $deepBlue;
    ul {
        width: 100%;
    }
    li {
        float: left;
        width: 14%;
    }
    a {
        color: $offWhite;
        text-decoration: none;
        padding: 16px;
        display: block;
        text-align: center;
    }
} //End Main Nav
#main-nav ul:after {
    content: "";
    display: block;
    clear: both;
}

section h1 {
    font-size: $sectionHeading;
    color: $deepBlue;
}

.lead-banner {
    @include banner;
    text-align: right;
}

.lessons-banner {
    @include banner;
    li {
        text-transform: uppercase;
        font-size: 20px;
        max-width: 500px;
        margin: 60px 0;
    }
}